<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <aside class="aside-menu">

    </aside>
    <main>
        <div class="s-scroll main-s-scroll">
            <div class="s-scroll-inner main-s-scroll-inner">
                <div class="container">
                    <div class="container-inner">
                        <!-- 내용 -->
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>